#Dom
    padding: 80px 0
    .chat
        border: 20px solid #202C33
        border-radius: 40px
        margin-bottom: 50px
        background-image: url("assets/whatsApp.jpeg")
        ul
            height: 450px
            display: flex
            flex-direction: column
            li
                width: 70px
                color: #fff
                padding: 10px
                margin: 10px
                border-radius: 0 10px 10px 10px
                display: flex
                justify-content: center
                align-items: center
        .lineMe
            li
                background-color: #005C4B
        .lineYou
            li
                background-color: #353535
        .sendMessage
            padding-top: 20px
            background-color: #202C33
            display: flex
            justify-content: center
            align-items: center
            input
                border: 2px solid #000
                border-radius: 20px
                margin: 10px
            button
                border: none
                border-radius: 20px
                padding: 10px 20px
                background-color: #005C4B
                color: #ffff
