#Dom
    padding: 80px 0
    .chat
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 400px
        border: 20px solid #E8EDFF
        border-radius: 20px
        .message
            display: flex
            justify-content: center
            align-items: center
            background-color: #7991E7
            padding: 10px
            margin: 10px
            border-radius: 20px
            width: 60px
            h3
                color: #ffff
    .text
        background-color: #E8EDFF
        display: flex
        justify-content: center
        align-items: center
        padding-top: 20px
        input
            margin-right: 10px
        .send
            display: flex
            justify-content: center
            align-items: center
            background-color: #94A6E6
            padding: 10px 20px
        input,.send
            border-radius: 20px
            h3
                color: #ffff
                &:hover
                    cursor: pointer
